@page "/dispose-circle-list"
@using GoogleMapsComponents

<h1>Disposing Google Map with Circle List</h1>

<GoogleMap @ref="@_map1" Id="map1" Options="@_mapOptions"></GoogleMap>

<EditForm Model="new object()">
    Bunch size: <InputNumber TValue="int" @bind-Value="_bunchsize" /><br />
    <button @onclick="async (_)=> await CreateBunchOfCircles()">Add a bunch of circles</button><br />
    <button @onclick="async (_)=> await CreateBunchOfCirclesInJs()">Add a bunch of circles in Js</button><br />
    <p>
        Click on a circle to remove it.
        <br />
        @this._descriptionText
    </p>
</EditForm>
