@page "/kmllayer"
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps

<h1>Map Events</h1>

<GoogleMap @ref="@map1" Id="map1" Options="@mapOptions" OnAfterInit="@OnAfterInitAsync">
</GoogleMap>

<input type="checkbox" bind="@DisablePoiInfoWindow" />Disable POI's popup info window
<br>

@code {
    private GoogleMap map1;
    private MapEventList eventList;

    private MapOptions mapOptions;

    const string src = "https://developers.google.com/maps/documentation/javascript/examples/kml/westcampus.kml";

    private bool DisablePoiInfoWindow { get; set; } = false;

    protected override void OnInitialized()
    {
        mapOptions = new MapOptions()
            {
                Zoom = 13,
                Center = new LatLngLiteral()
                {
                    Lat = 13.505892,
                    Lng = 100.8162
                },
                MapTypeId = MapTypeId.Roadmap
            };
    }

    private async Task OnAfterInitAsync()
    {
        //Debug.WriteLine("Start OnAfterRenderAsync");
        var kmllayer = await KmlLayer.CreateAsync(map1.JsRuntime, src);
        kmllayer.AddListener<KmlMouseEvent>("click", e => Console.WriteLine(e));
    }

}
