@page "/map-advanced-marker-list"
@using GoogleMapsComponents

<h1>Google Advanced Map Markers List</h1>

<GoogleMap @ref="_map1" Id="map1" Options="_mapOptions"></GoogleMap>
<button @onclick="AddMarker1">Add advanced markers part 1</button>
<button @onclick="AddMarker2">Add advanced markers part 2</button>
<button @onclick="RemoveMarker">Remove advanced marker</button>
<button @onclick="RemoveMarkers">Remove all advanced markers</button>
<button @onclick="Recenter">Re-center advanced marker</button>
<button @onclick="FitBounds">Fit to advanced markers</button>