@page "/map-advanced-marker"
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using GoogleMapsComponents.Maps.Coordinates
@using GoogleMapsComponents.Maps.Extension

<h1>Google Map Advanced Markers</h1>
<smallNotice: Available only in the v=beta channel.></smallNotice:>
<GoogleMap @ref="@_map1" Id="map1" Options="@_mapOptions" OnAfterInit="OnAfterRenderAsync"></GoogleMap>
<button @onclick="@AddMarker">Add marker</button>
<br/>
<p>Marker list</p>
<button @onclick="AddMarker1">Add advanced markers part 1</button>
<button @onclick="AddMarker2">Add advanced markers part 2</button>
<button @onclick="RemoveMarker">Remove advanced marker</button>
<button @onclick="RemoveMarkers">Remove all advanced markers</button>
<button @onclick="FitBounds">Fit to advanced markers</button>

<MapEventList Events="@_events"></MapEventList>

@code {
    private GoogleMap _map1 = null!;
    private MapOptions _mapOptions = null!;
    private LatLngBounds _bounds = null!;
    private readonly List<String> _events = new List<String>();
    private readonly Stack<AdvancedMarkerElement> _markers = new Stack<AdvancedMarkerElement>();
    private AdvancedMarkerElementList? _markerElementList;

    [Inject]
    // ReSharper disable once UnusedAutoPropertyAccessor.Global
    public IJSRuntime JsObjectRef { get; set; } = null!;

    protected override void OnInitialized()
    {
        _mapOptions = new MapOptions()
        {
            Zoom = 13,
            Center = new LatLngLiteral()
            {
                Lat = 13.505892,
                Lng = 100.8162
            },
            MapTypeId = MapTypeId.Roadmap,
            MapId = "e5asd595q2121"
        };
    }

    protected async Task OnAfterRenderAsync()
    {
        _bounds = await LatLngBounds.CreateAsync(_map1.JsRuntime);
    }

    private async Task AddMarker()
    {
        var mapCenter = await _map1.InteropObject.GetCenter();

        var marker = await AdvancedMarkerElement.CreateAsync(_map1.JsRuntime, new AdvancedMarkerElementOptions()
        {
            Position = mapCenter,
            Map = _map1.InteropObject,
            Content = "<div style='background-color:blue'>My pin</div>",
        });

        _markers.Push(marker);
        await _bounds.Extend(mapCenter);

        await marker.AddListener<MouseEvent>("click", async e =>
        {
            _events.Add($"Clicked {e.LatLng.Lat} {e.LatLng.Lng}");
            StateHasChanged();
            await e.Stop();
        });
    }

    private async Task AddMarker2()
    {
        var coordinates = new List<LatLngLiteral>()
        {
            new LatLngLiteral(){ Lng = 145.128708, Lat = -37.759859 },
            new LatLngLiteral(){ Lng = 145.133858, Lat = -37.765015 },
            new LatLngLiteral(){ Lng = 145.143299, Lat = -37.770104 },
            new LatLngLiteral(){ Lng = 145.145187, Lat = -37.7737 },
            new LatLngLiteral(){ Lng = 145.137978, Lat = -37.774785 },
            new LatLngLiteral(){ Lng = 144.968119, Lat = -37.819616 },
            new LatLngLiteral(){ Lng = 144.695692, Lat = -38.330766 },
            new LatLngLiteral(){ Lng = 175.053218, Lat = -39.927193 },
            new LatLngLiteral(){ Lng = 174.865694, Lat = -41.330162 },
            new LatLngLiteral(){ Lng = 147.439506, Lat = -42.734358 },
            new LatLngLiteral(){ Lng = 147.501315, Lat = -42.734358 },
            new LatLngLiteral(){ Lng = 147.438, Lat = -42.735258 },
            new LatLngLiteral(){ Lng = 170.463352, Lat = -43.999792 },
        };
        await AddMarkersGroup(coordinates);
    }

    private async Task AddMarker1()
    {
        var coordinates = new List<LatLngLiteral>()
        {
            new LatLngLiteral(){ Lng = 147.154312, Lat = -31.56391 },
            new LatLngLiteral(){ Lng = 150.363181, Lat = -33.718234 },
            new LatLngLiteral(){ Lng = 150.371124, Lat = -33.727111 },
            new LatLngLiteral(){ Lng = 151.209834, Lat = -33.848588 },
            new LatLngLiteral(){ Lng = 151.216968, Lat = -33.851702 },
            new LatLngLiteral(){ Lng = 150.863657, Lat = -34.671264 },
            new LatLngLiteral(){ Lng = 148.662905, Lat = -35.304724 },
            new LatLngLiteral(){ Lng = 175.699196, Lat = -36.817685 },
            new LatLngLiteral(){ Lng = 175.790222, Lat = -36.828611 },
            new LatLngLiteral(){ Lng = 145.116667, Lat = -37.75 },
        };


        for (int index = 0; index < 200; index++)
        {
            var dif = (index * 0.001);
            coordinates.Add(new LatLngLiteral() { Lng = 145.116667 + dif, Lat = -37.75 + dif });
        }

        await AddMarkersGroup(coordinates);
    }



    private async Task AddMarkersGroup(ICollection<LatLngLiteral> coordinates)
    {
        if (_markerElementList == null)
        {
            _markerElementList = await AdvancedMarkerElementList.CreateAsync(
                _map1.JsRuntime,
                coordinates.ToDictionary(_ => Guid.NewGuid().ToString(), y => new AdvancedMarkerElementOptions()
                    {
                        Position = new LatLngLiteral() { Lng = y.Lng, Lat = y.Lat },
                        Map = _map1.InteropObject,
                        GmpDraggable = true,
                        Title = Guid.NewGuid().ToString(),
                        Content = "<div style='background-color:blue'>My pin</div>",
                    })
            );
        }
        else
        {
            var cordDic = coordinates.ToDictionary(_ => Guid.NewGuid().ToString(), y => new AdvancedMarkerElementOptions()
                {
                    Position = new LatLngLiteral() { Lng = y.Lng, Lat = y.Lat },
                    Map = _map1.InteropObject,
                    GmpDraggable = true,
                    Title = Guid.NewGuid().ToString(),
                    Content = "<div style='background-color:blue'>My pin</div>",
                });

            await _markerElementList.AddMultipleAsync(cordDic);
        }

        foreach (var latLngLiteral in coordinates)
        {
            await _bounds.Extend(latLngLiteral);
        }

        await FitBounds();
    }

    private async Task RemoveMarkers()
    {
        if (_markerElementList == null)
        {
            return;
        }

        foreach (var markerListMarker in _markerElementList.Markers)
        {
            await markerListMarker.Value.SetMap(null);
        }

        await _markerElementList.RemoveAllAsync();
    }

    private async Task RemoveMarker()
    {
        if (!_markers.Any())
        {
            return;
        }

        var lastMarker = _markers.Pop();
        await lastMarker.SetMap(null);
    }

    private async Task FitBounds()
    {
        if (await this._bounds.IsEmpty())
        {
            return;
        }

        var boundsLiteral = await _bounds.ToJson();
        await _map1.InteropObject.FitBounds(boundsLiteral, OneOf.OneOf<int, Padding>.FromT0(5));
    }
}
