@page "/mapAutocomplete"
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using GoogleMapsComponents.Maps.Places


@*
    The code for this sample was taken from below on 09/02/2020:
    https://developers-dot-devsite-v2-prod.appspot.com/maps/documentation/javascript/examples/places-autocomplete
*@

<h1>Google Map Autocomplete</h1>

<div style="margin-bottom: 10px;">
    <input type="text" @ref="this.searchBox" id="searchBox" />
    <button @onclick="Search">Search</button>
</div>

<div>
    <p style="font-weight: bold; font-size: 1.2em">@this.message</p>
</div>

<GoogleMap @ref="@(this.map1)" Id="map1" Options="@(this.mapOptions)" OnAfterInit="async () => await OnAfterMapInit()"></GoogleMap>

@functions {
    private readonly Stack<Marker> markers = new Stack<Marker>();

    private GoogleMap map1;
    private MapOptions mapOptions;
    private Autocomplete autocomplete;

    private string message;

    private ElementReference searchBox;

    protected override void OnInitialized()
    {
        this.mapOptions = new MapOptions
        {
            Zoom = 13,
            Center = new LatLngLiteral
            {
                Lat = -33.8688,
                Lng = 151.2195
            },
            MapTypeId = MapTypeId.Roadmap
        };
    }

    private async Task OnAfterMapInit()
    {

        this.autocomplete = await Autocomplete.CreateAsync(this.map1.JsRuntime, this.searchBox, new AutocompleteOptions
        {
            StrictBounds = false,
            //ComponentRestrictions = new ComponentRestrictions { Country = new[] { "us" } }
        });

        //await autocomplete.SetFields(new []{ "address_components", "geometry", "icon", "name" });
        await this.autocomplete.SetFields(new[] { "address_components", "geometry", "name" });

        await this.autocomplete.AddListener("place_changed", async () =>
        {
            var place = await this.autocomplete.GetPlace();

            if (place?.Geometry == null)
            {
                this.message = "No results available for " + place?.Name;
            }
            else if (place.Geometry.Location != null)
            {
                await this.map1.InteropObject.SetCenter(place.Geometry.Location);
                await this.map1.InteropObject.SetZoom(13);

                var marker = await Marker.CreateAsync(this.map1.JsRuntime, new MarkerOptions
                {
                    Position = place.Geometry.Location,
                    Map = this.map1.InteropObject,
                    Title = place.Name
                });

                this.markers.Push(marker);

                this.message = "Displaying result for " + place.Name;
            }
            else if (place.Geometry.Viewport != null)
            {
                await this.map1.InteropObject.FitBounds(place.Geometry.Viewport, 5);
                this.message = "Displaying result for " + place.Name;
            }

            this.StateHasChanged();
        });
    }

    private void Search()
    {

    }
}