@page "/mapMarker"
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using System.Diagnostics
@using GoogleMapsComponents.Maps.Coordinates

<h1>Google Map Markers</h1>

<GoogleMap @ref="@map1" Id="map1" Options="@mapOptions"></GoogleMap>
<button @onclick="AddMarker">Add marker</button>
<button @onclick="RemoveMarker">Remove marker</button>
<button @onclick="Recenter">Re-center marker</button>
<button @onclick="FitBounds">Fit to markers</button>
<button @onclick="InvokeClustering">Invoke map cluster</button>


<MapEventList @ref="@eventList" Events="@_events"></MapEventList>
