@page "/map-heat-map"
@using GoogleMapsComponents

<h1>Google Map Markers</h1>

<GoogleMap @ref="@map1" Id="map1" Options="@mapOptions"></GoogleMap>
<button @onclick="@AddHeatMap">Add Heat Map</button>

