@page "/map-style"
@using GoogleMapsComponents

<h1>Google Map Style</h1>
<p>More info <a href="https://developers.google.com/maps/documentation/javascript/examples/style-array?hl=fr">Google documentation</a></p>

<GoogleMap Id="map1" Options="@_mapOptions"></GoogleMap>