@page "/mapServices"
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using GoogleMapsComponents.Maps.Places

@implements IAsyncDisposable

@*
    The code for this sample was taken from below on 09/02/2020:
    https://developers-dot-devsite-v2-prod.appspot.com/maps/documentation/javascript/examples/places-autocomplete
*@

<h1>Google Map AutocompleteService, PlacesService and Geocoder</h1>

<div style="margin-bottom: 10px;">
    <input type="text" id="searchBox" @bind-value="_search" @bind-value:event="oninput"/>
    <button @onclick="SearchAsync">Search</button>
    <button @onclick="() => _suggestions = null">Clear Suggestions</button>
    <button @onclick="GeocodeAsync">Geocode</button>
    <button @onclick="ClearMarkersAsync">Clear Markers</button>
    <div>
        <span>Suggestions:</span><br/>
        @if ((_suggestions.Length) == 0)
        {
            <span>No suggestions</span>
        }
        else
        {
            <ol>
                @foreach (var item in _suggestions)
                {
                    <li @key="item.Id">
                        <span role="button" class="oi oi-map-marker text-danger" 
                              @onclick="async () => await GetPlaceDetailAsync(item.Id)"></span>
                        &nbsp;@item.DisplayName
                    </li>
                }
            </ol>
        }
    </div>
</div>

<div>
    <p style="font-weight: bold; font-size: 1.2em">@_message</p>
</div>

<GoogleMap @ref="@(_map1)" Id="map1" Options="@(_mapOptions)" OnAfterInit="async () => await OnAfterMapInit()"></GoogleMap>