<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ServerSideDemo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mapServices">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Services
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mapAutocomplete">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Autocomplete
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="maps">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Maps
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="map-image-overlay">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Image Overlay
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mapEvents">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Events
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mapMarker">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Markers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="advancedMapMarker">
                <span class="oi oi-list-rich" aria-hidden="true"></span> AdvancedMapMarker
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mapInfoWindow">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Info window
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mapPolyline">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Polyline
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mapRoutes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Routes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="map-style">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Style
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="map-heat-map">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Heat map
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ground-overlay">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ground overlay
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="map-legend">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Map Legend
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="maps-legend">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Maps Legend
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="map-marker-list">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Map Marker List
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="map-circle-list">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Map Circle List
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="drawing-manager">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Drawing Manager
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="projection">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Map projection
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="map-control-events">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MapControl Events
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="map-data">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MapData
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dispose-circle-list">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dispose Circle List
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
