@page "/map"
@using SharedComponents
@using SharedComponents.Maps

<h1>Google Map</h1>

<GoogleMap ref="@googleMap" Id="map2" Options="@mapOptions"></GoogleMap>

@functions {
    private GoogleMap googleMap;

    private MapOptions mapOptions;

    protected override void OnInit()
    {
        mapOptions = new MapOptions()
        {
            zoom = 13,
            center = new LatLngLiteral()
            {
                lat = 13.505892,
                lng = 100.8162
            },
            mapTypeId = MapTypeId.Roadmap
        };
    }
}