@using Maps
@using System.Diagnostics
@using Microsoft.AspNetCore.Components;

@inherits MapComponent

@implements IDisposable

<div @ref="Element" @ref:suppressField id="Id" style="height: 500px"></div>

@code  {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public MapOptions Options { get; set; }

    [Parameter]
    public Action OnAfterInit { get; set; }

    private ElementReference Element { get; set; }

    protected override async Task OnAfterRenderAsync()
    {
        await InitAsync(Element, Options);

        //Debug.WriteLine("Init finished");

        if (OnAfterInit != null)
        {
            OnAfterInit();
        }
    }

    protected override bool ShouldRender()
    {
        return false;
    }
}