@using System
@using System.Diagnostics
@using Maps
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components
@using Microsoft.Extensions.Options


@inherits MapComponent

@implements System.IDisposable

<div @ref="@Element" id="@Id" style="@StyleStr"></div>

@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public MapOptions Options { get; set; }

    [Parameter]
    public Action OnAfterInit { get; set; }

    [Parameter]
    public int Height { get; set; } = 500;

    //Provides style string
    private string StyleStr 
    {
        get
        {
            string tmpStyle = "";
            
            //Height
            if (Height > 0)
            {
                tmpStyle = string.Format("height: {0}px;", Height);
            }

            return tmpStyle;
        }
    }

    private ElementReference Element { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        await InitAsync(Element, Options);

        //Debug.WriteLine("Init finished");

        OnAfterInit?.Invoke();
    }

    protected override bool ShouldRender()
    {
        return false;
    }
}