@using Maps
@using System.Diagnostics

@inherits MapComponent

<div ref="@Element" id="@Id" style="height: 500px"></div>

@functions {
    [Parameter]
    private string Id { get; set; }

    [Parameter]
    private MapOptions Options { get; set; }

    [Parameter]
    private Action OnAfterInit { get; set; }

    private ElementRef Element { get; set; }

    protected override void OnInit()
    {

    }

    protected override void OnAfterRender()
    {
        Init(Element, Options);

        //Debug.WriteLine("Init finished");

        if (OnAfterInit != null)
        {
            OnAfterInit();
        }
    }

    protected override bool ShouldRender()
    {
        var renderUI = false;

        return renderUI;
    }
}