@using Maps

<div id="@Id" style="height: 500px"></div>

@functions {
    [Parameter]
    private string Id { get; set; }

    [Parameter]
    private MapOptions Options { get; set; }

    public Action OnIdle { get; set; }

    protected async override Task OnAfterRenderAsync()
    {
        await GoogleMapJsInterop.Init(Id, Options);
    }

    protected override bool ShouldRender()
    {
        var renderUI = false;

        return renderUI;
    }

    /// <summary>
    /// Sets the viewport to contain the given bounds.
    /// </summary>
    /// <param name="bounds"></param>
    /// <returns></returns>
    public async Task FitBounds(LatLngBoundsLiteral bounds)
    {
        await GoogleMapJsInterop.FitBounds(Id, bounds);
    }

    /// <summary>
    /// Returns the lat/lng bounds of the current viewport. 
    /// If more than one copy of the world is visible, the bounds range in longitude from -180 to 180 degrees inclusive. 
    /// If the map is not yet initialized (i.e. the mapType is still null), or center and zoom have not been set then the result is null.
    /// </summary>
    /// <returns></returns>
    public async Task<LatLngBoundsLiteral> GetBounds()
    {
        return await GoogleMapJsInterop.GetBounds(Id);
    }

    /// <summary>
    /// Returns the position displayed at the center of the map. 
    /// Note that this LatLng object is not wrapped.
    /// </summary>
    /// <returns></returns>
    public async Task<LatLngLiteral> GetCenter()
    {
        return await GoogleMapJsInterop.GetCenter(Id);
    }

    public async Task SetCenter(LatLngLiteral latLng)
    {
        await GoogleMapJsInterop.SetCenter(Id, latLng);
    }

    /// <summary>
    /// Returns the compass heading of aerial imagery. 
    /// The heading value is measured in degrees (clockwise) from cardinal direction North.
    /// </summary>
    /// <returns></returns>
    public async Task<int> GetHeading()
    {
        return await GoogleMapJsInterop.GetHeading(Id);
    }

    /// <summary>
    /// Sets the compass heading for aerial imagery measured in degrees from cardinal direction North.
    /// </summary>
    /// <param name="heading"></param>
    /// <returns></returns>
    public async Task SetHeading(int heading)
    {
        await GoogleMapJsInterop.SetHeading(Id, heading);
    }
}