@using Maps
@using System.Diagnostics

@inherits MapComponent

<div id="@Id" style="height: 500px"></div>

@functions {
    [Parameter]
    private string Id { get; set; }

    [Parameter]
    private MapOptions Options { get; set; }

    [Parameter]
    private Action OnAfterInit { get; set; }

    protected override void OnInit()
    {

    }

    protected async override Task OnAfterRenderAsync()
    {
        await InitAsync(Id, Options);

        Debug.WriteLine("Init finished");

        if(OnAfterInit != null)
            OnAfterInit();
    }

    protected override bool ShouldRender()
    {
        var renderUI = false;

        return renderUI;
    }
}