@page "/mapInfoWindow"
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps

<h1>Google Map Info Window</h1>

<GoogleMap @ref="@_map1" Id="map1" Options="@_mapOptions"></GoogleMap>
<button @onclick="AddMarker">Add marker</button>

@functions {
    private GoogleMap _map1 = default!;

    private MapOptions _mapOptions = default!;

    //private List<Marker> markers = new List<Marker>();
    private int _markerCount;

    protected override void OnInitialized()
    {
        _mapOptions = new MapOptions()
        {
            Zoom = 13,
            Center = new LatLngLiteral()
            {
                Lat = 13.505892,
                Lng = 100.8162
            },
            MapTypeId = MapTypeId.Roadmap
        };
    }

    private async Task AddMarker()
    {
        var position = await _map1.InteropObject.GetCenter();

        var marker = await Marker.CreateAsync(_map1.JsRuntime, new MarkerOptions()
        {
            Position = position,
            Map = _map1.InteropObject,
            Label = $"Test {_markerCount}"
        });

        var infoWindow = await InfoWindow.CreateAsync(_map1.JsRuntime, new InfoWindowOptions()
        {
            Position = new LatLngLiteral()
            {
                Lat = 13.505892,
                Lng = 100.8162
            },
            //Content = "Test"
        });

        var infoWindowContent = $"Test {_markerCount}";

        await marker.AddListener("click", async () =>
        {
            await infoWindow.SetContent(infoWindowContent);
            await infoWindow.SetPosition(position);
            await infoWindow.Open(_map1.InteropObject);
        });

        _markerCount++;
    }
}