@page "/maps"

@using GoogleMapsComponents.Maps

@inject IJSRuntime JsRuntime

<h1>Maps</h1>

<div @ref="@_map1ElementRef" id="map1" style="height: 450px"></div>
<div>
    <button @onclick="SyncBounds">Sync map bounds</button>
    <button @onclick="SyncMapCenter">Sync map center</button>
    <button @onclick="SetMapHeading">Set map heading</button>
    <button @onclick="ToggleMapType">Toggle map type</button>
    <button @onclick="ToggleTilt">Toggle map tilt</button>
    <button @onclick="ZoomIn">Zoom in</button>
</div>

<div @ref="@_map2ElementRef" id="map2" style="height: 450px"></div>

@functions {
    private Map _map1 = default!, _map2 = default!;

    private ElementReference _map1ElementRef, _map2ElementRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_map1 == null)
        {
            var mapOptions1 = new MapOptions()
            {
                Zoom = 13,
                Center = new LatLngLiteral()
                {
                    Lat = 13.505892,
                    Lng = 100.8162
                },
                MapTypeId = MapTypeId.Roadmap
            };

            _map1 = await Map.CreateAsync(JsRuntime, _map1ElementRef, mapOptions1);

            //Debug.WriteLine("Init finished");
        }

        if (_map2 == null)
        {
            var mapOptions2 = new MapOptions()
            {
                Zoom = 18,
                Center = new LatLngLiteral()
                {
                    Lat = 45.518,
                    Lng = -122.672
                },
                MapTypeId = MapTypeId.Satellite,
                Heading = 90,
                Tilt = 45
            };

            _map2 = await Map.CreateAsync(JsRuntime, _map2ElementRef, mapOptions2);
        }
    }

    private async Task SyncBounds()
    {
        var bounds = await _map1.GetBounds();
        await _map2.FitBounds(bounds);
    }

    private async Task SyncMapCenter()
    {
        var latLng = await _map1.GetCenter();
        await _map2.SetCenter(latLng);
    }

    private async Task SetMapHeading()
    {
        await _map2.SetHeading(await _map2.GetHeading() + 90);
        var heading = await _map2.GetHeading();

        Console.WriteLine($"Map2 heading is {heading}");
    }

    private async Task ToggleTilt()
    {
        var tilt = await _map2.GetTilt();

        Console.WriteLine($"Map2 tilt is {tilt}");

        if (tilt > 0)
        {
            await _map2.SetTilt(0);
        }
        else
        {
            await _map2.SetTilt(45);
        }
    }

    private async Task ZoomIn()
    {
        var zoom = await _map1.GetZoom();
        await _map1.SetZoom(zoom + 1);
    }

    private async Task ToggleMapType()
    {
        var mapTypeId = await _map1.GetMapTypeId();

        Console.WriteLine($"Map type is {mapTypeId}");

        if (mapTypeId != MapTypeId.Satellite)
        {
            await _map1.SetMapTypeId(MapTypeId.Satellite);
        }
        else
        {
            await _map1.SetMapTypeId(MapTypeId.Roadmap);
        }
    }
}