name: github pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Inject Google Maps API Key
        run: |
          # Update this path based on the find command output
          sed -i 's/YOUR_API_KEY_HERE/${{ secrets.MAP_API_KEY }}/g' ./Demos/ClientSideDemo/wwwroot/appsettings.json          

      - name: Publish
        run: dotnet publish BlazorGoogleMaps.sln -c:Release -o:publish -p:GHPages=true -f net10.0

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: publish/wwwroot
          force_orphan: true